# **Text Normalization and Stopword Removel in English**

In [14]:
import re
import pandas as pd
from google.colab import drive
import seaborn as sns
import nltk

from nltk.corpus import stopwords

In [3]:
drive.mount('/content/drive')
file_path = '/content/drive/My Drive/Colab Notebooks/dataset/EnglishNewsDataset.xlsx'
df = pd.read_excel(file_path)
df.head()

Mounted at /content/drive

                                                NEWS     CLASS
0  $5 20 piece chicken nuggets didn't help McDona...  business
1              $A falls as Ukraine tensions escalate  business
2             $A lower amid Ukraine crisis pessimism  business
3              $A lower as Ukraine tensions increase  business
4  10 Things You Need To Know Before The Opening ...  business

In [4]:
df = df.drop(columns=['CLASS'])
df = df.dropna(subset=["NEWS"])
df = df.drop_duplicates(subset=["NEWS"])
df = df.reset_index(drop=True)
df

                                                   NEWS
0     $5 20 piece chicken nuggets didn't help McDona...
1                 $A falls as Ukraine tensions escalate
2                $A lower amid Ukraine crisis pessimism
3                 $A lower as Ukraine tensions increase
4     10 Things You Need To Know Before The Opening ...
...                                                 ...
4948  Samsung giving three months NOW TV movie pass ...
4949  LG Google Nexus 5 vs Samsung Galaxy Grand 2  B...
4950  Samsung Galaxy Grand Duos vs Samsung Galaxy Gr...
4951  iPhone 6 holographic projector phone concept v...
4952      Titanfall For PC Now Available For Preloading

[4953 rows x 1 columns]

In [15]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [16]:
def preprocess_text_en(text):
    if not isinstance(text, str):
        return text
    text = re.sub(r'\bRT\b', ' ', text)
    text = re.sub(r'#\w+', ' ', text)
    text = re.sub(r'@\w+', ' ', text)
    text = re.sub(r'http\S+|https\S+|www\.\S+', ' ', text)
    text = re.sub(r'\d+', ' ', text)
    text = re.sub(r'[^\w\s]', ' ', text)
    text = re.sub(r'\s+', ' ', text).strip()
    text = text.lower()
    # Remove stopwords
    words = [word for word in text.split() if word not in stop_words]
    return ' '.join(words)

df["processed_text"] = df["NEWS"].apply(preprocess_text_en)

In [17]:
df["processed_text"]

0       piece chicken nuggets help mcdonald reverse us...
1                         falls ukraine tensions escalate
2                     lower amid ukraine crisis pessimism
3                         lower ukraine tensions increase
4                           things need know opening bell
                              ...
4948    samsung giving three months tv movie pass gala...
4949    lg google nexus vs samsung galaxy grand batter...
4950    samsung galaxy grand duos vs samsung galaxy gr...
4951    iphone holographic projector phone concept vid...
4952                    titanfall pc available preloading
Name: processed_text, Length: 4953, dtype: object